{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="publication-item">
  <div class="publication-content">
    <div class="publication-title">
      {{ title }}{% if post.bibtexurl %} <span class="publication-title__cite-wrap">(<a href="{{ post.bibtexurl }}" class="publication-title__cite bibtex-link cite-link" data-bibtex-url="{{ post.bibtexurl }}">Cite</a>)</span>{% endif %}
    </div>
    
    <div class="publication-authors">
      {% if post.citation %}
        {% assign citation_parts = post.citation | split: '. ' %}
        {% assign authors = citation_parts[0] %}
        {{ authors }}.<br><i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}
        {% if post.award %}
          <br><span class="publication-award">
            <svg class="publication-award__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
              <path d="M19 3h-2V1H7v2H5C3.9 3 3 3.9 3 5v3c0 2.55 1.92 4.63 4.39 4.94.63 1.5 1.98 2.63 3.61 2.96V19H7v2h10v-2h-4v-3.1c1.63-.33 2.98-1.46 3.61-2.96C19.08 12.63 21 10.55 21 8V5c0-1.1-.9-2-2-2zM5 8V5h2v5.82C5.84 10.4 5 9.3 5 8zm14 0c0 1.3-.84 2.4-2 2.82V5h2v3z"/>
            </svg>
            <span class="publication-award__text">{{ post.award }}</span>
          </span>
        {% endif %}
      {% endif %}
    </div>
    
    <div class="publication-links">
      {% if post.paperurl %}
        <a href="{{ post.paperurl }}" class="publication-link">Download Paper</a>
      {% endif %}
      {% if post.slidesurl %}
        <a href="{{ post.slidesurl }}" class="publication-link">Slides</a>
      {% endif %}
    </div>
  </div>
</div>
